body {

    font-family: Arial, sans-serif;

    background: #f2f2f2;

    margin: 0;

    padding: 20px;

}


.container {

    width: 600px;

    margin: auto;

    background: white;

    padding: 30px;

    border-radius: 10px;

}


h1 {

    text-align: center;

}


label {

    display: block;

    margin-top: 12px;

    font-weight: bold;

}


input,
select {

    width: 100%;

    padding: 10px;

    margin-top: 5px;

    box-sizing: border-box;

}


button {

    width: 100%;

    padding: 15px;

    margin-top: 25px;

    background: #007bff;

    color: white;

    border: none;

    border-radius: 5px;

    font-size: 16px;

    cursor: pointer;

}


button:hover {

    background: #0056b3;

}


.result-container {

    width: 500px;

    margin: 100px auto;

    padding: 40px;

    background: white;

    text-align: center;

    border-radius: 10px;

}


.result-container h2 {

    margin: 30px;

}


.result-container a {

    text-decoration: none;

    background: #007bff;

    color: white;

    padding: 12px 20px;

    border-radius: 5px;

}